{% from 'shell_session.j2' import shell_session %}
{% from 'highlight_latex.j2' import highlight_latex %}

{% block lead %}{% endblock %}

{% include 'front_matter.j2' %}

{% block content %}{% endblock %}
