{% macro highlight_latex(file_path) %}

{{
    highlight_block(
        file_path,
        blob_path=file_path,
        linenos = True,
        explicit_lexer_name = 'TexLexer',
        title = {{ file_path | basename }},
        external_source_link = "https://github.com/thecjharries/posts-latex-minted/blob/master/{{ filename }}",
    )
}}

{% endmacro %}
